
nav {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 5000;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.map-controls {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: beige;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  position: relative;
  z-index: 5001;
}

.map-controls img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.map-controls hr {
  height: 30px;
  border-left: 1px solid #ccc;
  margin: 0 10px;
}