body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

#map {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background: white;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  pointer-events: none;
}
